<% include ../partials/header.ejs %>

<div class="container width40">
	<h2>About us</h2>
	<section id="about">
		<h2 class="badge a">Camper's space</h2>
		<p>In this site users can browse and find out about the camp sites visited by other campers.</p>
		<h2 class="badge a">Share</h2>
		<p>We encourage campers, nature lovers, bikers, hikers, trekers to share their experiences at various campgrounds and trails. They can write about trees, bushes, butterflies, birds, animals they spotted. They can make aware other campers if there are any dangerours insects, animals or wild grass species on the trail and also guide about precautionary measures to be taken. </p>
		<h2 class="badge a">Inspire</h2>
		<p>Users can write about something special they spotted, noticed or experienced..it can be tiny wild grass flower or full moon from behind mountain tops, fragrance honey scukle or chirping of birds. Campers can also add photolink to campsite  and also can share a photograph of a trail they hiked.</p>


		<p>The campsite should be unique in its own way. Also provide brief discription of the camp ground. </p>
		<p>Users will have to first login to add new campsite. They can edit it later if they wish so.</p>
		<p>Purpose of the site is to give overview and first hand experience of campsites around the world at one place.</p>
	</section>

	
</div>

<% include ../partials/footer.ejs %>