<% include ../partials/header.ejs %>

<div class="container width40">
	<h2>About us</h2>
	<section id="about">
		<p>In this site users can add the campsites they have visited and also can add a link to one photograph to the campsite. The campsite should be unique in its own way. They are also welcome to provide brief discription of the camp ground. </p>
		<p>Users will have to first login to add new campsite. They can edit it later if they wish so.</p>
		<p>Purpose of the site is to give overview and first hand experience of campsites around the world at one place.</p>
	</section>

	
</div>

<% include ../partials/footer.ejs %>