
<% include ../partials/header.ejs %>

<div class="container width40">
	<h3>Share your experience and recommendations with camping lovers!!!</h3>
	<form method = "POST">

		<% if(flag==1){ %>

		<div class = "form-group">
			<label>Camp Site Name *  </label>
			<input class = "form-control" type = "text" name ="newcamp" placeholder ="Please enter campsite name">
		</div>
		<div class = "form-group" >
			<label>Add Photo Link  </label>
			<input class = "form-control" type = "text" name = "image" placeholder="Enter link to image of campsite">
		</div>
		<div class = "form-group">
			<label>Share your experience!</label>
			<textarea class="form-control" name="experience" width=100% ></textarea>
		</div>	
		<div class="input-group">
			<label>How's your experience?</label><br>
			<input type=radio name="recommend" checked value="5" class="r"><label> Excellent</label>
			<input type=radio name="recommend" value="4"><label> Very Good</label>
			<input type=radio name="recommend" value="3"><label> Good</label>
			<input type=radio name="recommend" value="2"><label> Not Good</label>
			<input type=radio name="recommend" value="1"><label> Bad</label>
		</div>	
		<div class = "form-group" >
			<label>Link to Website </label>
			<input class = "form-control" type = "text" name = "site_link" placeholder="Enter link to website of campsite, if any.">
		</div>
		<div class = "form-group" >
			<label>Google map link  </label>
			<input class = "form-control" type = "text" name = "map_link" placeholder="Enter Google map link to the campsite location.">
		</div>
		<div class = "form-group">
			<label>Discription *</label>
			<textarea class="form-control width100" name="disc"  placeholder="Please enter brief discription of the camp site." value="Camper did not enter any discription."></textarea>
		</div>	

		<article class = "form-group">
			<label>You can also share your enchanting experiences on various hiking trails near the campsite.</label>
			<div class="form-group">
				<label>Trail Name</label>
				<input class = "form-control" type = "text" name = "trail_name" placeholder="Trail name"> 
			</div>	
			<div class="form-group">
				<label>Length</label>
				<input class = "form-control" type = "text" name = "dist" placeholder="Distance in miles"> 
			</div>	
			<div class="form-group">
				<label>What to expect</label>
				<input class = "form-control" type = "text" name = "expect" placeholder="flaura, fauna, dangers..."> 
			</div>	
				<textarea class="form-control width100" name="info" placeholder="Experience/What flora founa to expect/ precautions to be taken..."></textarea>
			<div class="form-group">
				<label>Share a photo of trail</label>
				<input class = "form-control" type = "text" name = "photo_link" placeholder="link to image..."> 
			</div>		

			<div class="input-group">
				<label>Would you like to add more trails?</label><br>
				<input type=radio name="more_trails"  value="YES"><label>YES</label>
				<input type=radio name="more_trails" checked value="NO"><label>NO</label>
			</div>	
		</article>	

		<%}else{ %>


		<article class = "form-group">
			<label id="trail">Wow!! You did lot of hiking!! Please tell us about one more trail!!</label>
			<div class="form-group">
				<label>Trail Name</label>
				<input class = "form-control" type = "text" name = "trail_name" placeholder="Trail name"> 
			</div>	
			<div class="form-group">
				<label>Length</label>
				<input class = "form-control" type = "text" name = "dist" placeholder="Distance in miles"> 
			</div>	
			<div class="form-group">
				<label>What to expect</label>
				<input class = "form-control" type = "text" name = "expect" placeholder="flaura, fauna, dangers..."> 
			</div>	
				<textarea class="form-control" name="info" width=100% placeholder="Experience/ What flora founa to expect/ precautions to be taken..."></textarea>
			<div class="form-group">
				<label>Share a photo of trail</label>
				<input class = "form-control" type = "text" name = "photo_link" placeholder="link to image..."> 
			</div>		


			<div class="input-group">
				<label>Would you like to add more trails?</label><br>
				<input type=radio name="more_trails"  value="YES"><label>YES</label>
				<input type=radio name="more_trails" checked value="NO"><label>NO</label>
			</div>	
		</article>	

		<%}%>

		<button class= "btn btn-primary btn-md btn-block">Add</button><br>
		<button class= "btn btn-info btn-md btn-block" type="reset">Reset</button>
	</form>	

</div>

<% include ../partials/footer.ejs %>