<!-- INDEX PAGE TO DISPLAY ALL ARCHITECTURE CATEGORIES -->

<% include templates/header %>
<div class="container">
	<div class="jumbotron">
		<h1>Ancient Architectures</h1>
		<h5><i>...of places of worships<i></h5>
	</div>
	<% if(categories.length == 0){%>
	<header class="container alert alert-info">
		<h4>No matching records found <a href="/index"><sub><small>back</small></sub></a></h4>
	</header>
	
	<% } else {%>
	<div class="row">
		<%categories.forEach(function(cate){ %>
		<div class="col-lg-3 col-md-4">
			<div class="card">

				<h3  class="mx-1" id="indexh2"><%= cate.cateName%></h3>
				<img id="indeximg" src="<%= cate.sampleImg %>">
				<p class="mx-1"><%= cate.discription.substring(0,100) %></p>
				<a class="mx-1" href="/index/<%=cate._id %>"> read more...</a>
				
				
			</div>
		</div>	
		<% })%>
	</div>
	<% } %>
</div>

<% include templates/footer %>