
body, html{
	background: snow;
	height: 100%;
}
.width25{
	width: 25%;
}
.width33{
	width:32.9%;
	box-sizing: border-box;
}

.width40{
	width: 40%;
}
.width60{
	width: 60%;
}
.width100{
	width:100%;
}
#imgShow{
	width: 80%;
	height: 400px;
}
.height40{
height: 40px;
}
h2, h3, h4{
	font-family:Berkshire Swash;
}

.navbar{
	margin-bottom: 0;
}
.navbar-brand{
	font-family: Boogaloo;
	font-size: 2em;
	color:lightyellow;
}
.navbar-nav>li>a{
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: white;
}
.navbar-nav>li>a:hover{
	text-shadow: 2px 2px 2px azure;
}

.alert{
	font-size: 1.3em;
	padding: 10px;
	text-align: center;
}
.btn{
	font-size: 1.2em;
}
.btn-trail{
	font-size: .8em;
	background-color: rosybrown;
}

@media only screen and (max-width: 2000px){
#head{
	height:58%;
	width:100%;
	background: url("../images/canyon.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 40px;
	text-align: right;
	padding-right: 250px;

}
}

@media only screen and (max-width: 1300px){
	#head{
	height:60%;
	width:100%;
	background: url("../images/Clouds.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 40px;
	text-align: right;
	padding-right: 100px;
	}
}
@media only screen and (max-width: 900px){
	#head{
	height:65%;
	width:100%;
	background: url("../images/Glacier.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 40px;
	text-align: right;
	padding-right: 100px;
	}
}




#crescent-nav{
	font-family: Boogaloo;
	font-size: 2.2em;
	text-shadow: 1px 1px snow,;
}
#crescent{
	font-family: Boogaloo;
	font-size: 4em;
	text-shadow: 1px 1px snow, -1px -1px 2px seashell;
	}
#crescent:hover{
	text-shadow: 2px 2px 15px mediumblue;
} 
#crescent-nav:hover{
	text-shadow: 2px 2px 10px lightyellow;
	
}
#tagline{
	font-family: Caveat;
	font-size: 2em;
}
#about{
	font-size: 1.2em;
}
#deleteform{
	display: inline;
}
form{
	background-color: ghostwhite;
}
textarea.form-control{
	height:250px;
}

#trail_head{
	background-color: darkgoldenrod;
	color: seashell;
	padding: 10px;
	margin-bottom: 20px;
}
.gold{
	color: gold;
}
.r{
	color:red;
	margin-right: 10px;
}
#trails{
	background-color: seashell;
	padding-left: 4px;
	padding-right: 4px;

}
.badge{
	background-color: darkgoldenrod;
	color: seashell;
}
.a{
	font-size: 1.3em;
}
.row{

	margin: 0;

}
label #trails{
	font-size: 1.3em;
}

