body,html{
	height: 100%;
}



#landing-header h1{
	color: #fff;
	margin-bottom: 30px;
}


.bg{
	color:#225588;
	height: 100%;
	background-image:  url("../images/LakeTent.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}

#landing-header{
	z-index: 1;
	text-align: center;
	position: relative;
	padding-top: 40vh;

}
.btn-warning:hover{
box-shadow: 4px 4px 25px, -4px -4px 25px;
}





