#landing-header{
	z-index: 1;
	text-align: center;
	position: absolute;
	padding-top: 40vh;
}


#slideshow {
	/*margin: 80px auto;relative*/  
  position:relative; ;
  width: 240px;
  height: 240px;
  
  padding: 10px;
  /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);*/
}

#slideshow > div {
  position: absolute;
 
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
	background-repeat: no-repeat;
	background-size: cover;

}


/*.slideshow{
	position: fixed;
	height: 100%; width: 100%;
	top: 0; left: 0;
	z-index: 0;
	list-style: none;
	margin: 0; padding: 0;
}*/
#landing-header h1{
	color: #fff;
}


/*body{
	color:#225588;
	background-image:  url("../images/cookingoncampfire.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#landing-header{
	z-index: 1;
	text-align: center;
	position: relative;
	padding-top: 40vh;
}

#landing-header h1{
	color: #fff;
}
.slideshow{
	position: fixed;
	height: 100%; width: 100%;
	top: 0; left: 0;
	z-index: 0;
	list-style: none;
	margin: 0; padding: 0;
}
.slideshow li{
	height: 100%; width: 100%;
	position: absolute;;
	top: 0; left: 0;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	opacity: 0;
	z-index: 0;
	animation: imageAnimation 50s linear infinite;
}

.slideshow li: nth-of-type(1){
	background-image: url("../images/cuponfire.png");
}
.slideshow li: nth-of-type(2){
	background-image: url("../images/cookingoncampfire.png");
	animation-delay :10s;
}
.slideshow li: nth-child(3){
	background-image: url("../images/hillfogcamp.png");
	animation-delay: 20s;
}
.slideshow li: nth-child(4){
	background-image: url("../images/nightcampfire.png");
	animation-delay: 30s;
}

@keyframes imageAnimation{
	0%{
		opacity: 0;
		animation-timing-function: ease-in;
	}
	10%{
		opacity: 1;
		animation-timing-function: ease-out;
	}
	20%{
		opacity: 1;
	}
	30%{
		opacity: 0
	}
}

.no-cssanimations .slideshow li {
	opacity: 1;
}
*/



























