<!DOCTYPE html>
<!--Header for YelpCamp -->
<head>
	<title>Crescent Campgrounds</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Boogaloo|Caveat|Berkshire+Swash|Great+Vibes&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>

<body  style="padding-top:70px">
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" id="crescent"  href="/">Crescent</a>
	    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/campgrounds">Home <span class="sr-only">(current)</span></a></li>
        <li ><a href="/campgrounds/about">About <span class="sr-only">(current)</span></a></li>
        <li ><a href="/campgrounds/contact">Contact <span class="sr-only">(current)</span></a></li>
      </ul>
    

      <ul class="nav navbar-nav navbar-left">
         <%if(!currentUser){%>
         <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <%}else{%>
        <li><a href="/logout">Logout</a></li>
        <li><a href="#"><%=currentUser.username%></a></li>
        <%}%>
      </ul>
      <form class="form-navbar navbar-right form-inline" style="background-color: black" action="/campgrounds"  method="GET" >
      <ul style="margin-bottom:0; margin-top: 10px;">
        <li><input class="form-control" name="findme" value="" type="text" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-default btn-xs" type="submit">Search</button>
        </li>
     </ul>
      </form>

       
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<!-- DISPLAY FLASH MESSAGES -->
<% if(error&&error.length>0){%>
  <header class='container alert alert-danger'>
    <%= error %>  
  </header>
<% } %>
<% if(success && success.length>0){ %>
  <header class='container alert alert-info'>
    <%= success %>  
  </header>
<% } %>














