.navbar{
				min-height:50px;
				padding:0px;
				}
body{
			padding-top:70px;
			background-color: #fbe9e7 ;
		}	
.jumbotron{
			height:150px;
			background-color:#914f4f;
			color:#6295a2;

		}	
.shwd{
				box-shadow: 1px 1px 3px 2px #914f4f;}
.txtshwd{
				text-shadow: 1px 1px 2px 2px red;
		}	
.media{
	border: 1px solid #ffcdd2;
	border-bottom: 8px solid #fbe9e7;
}			
#showmainimg{
	float:right; heigh:200px;
}
#showsubimg{
	float:left; width:250px;
}
#navimg{height:100px; width:140px; float:right;}
#indeximg{height:200px;}
#indexh2{
			color:#6295a2;
		 	}
.mybtn{
				width:150px; height:30px; color:#fbe9e7; background:#6295a2;transition-duration:0.4s;
				}
.mybtn:hover{
				background:#914f4f; color:#6295a2;
		}	
a{ color:#6295a2;}

textarea.form-control{
	height:300px;
}
select{
	width:180px; height:35px;
}



